.p-works {
  &__title {
    font-size: 3rem;
    margin-top: 5rem;
    text-align: center;
    color: #2db0c0;
  }
  &__container {
    padding: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    display: grid;
    grid-template-rows: 1/2 1/2;
    grid-template-columns: auto auto;
    gap: 1.5rem;
    @include lg {
      grid-template-rows: 1/4 1/4 1/4 1/4;
      grid-template-columns: auto auto auto auto;
    }
    & .item-box {
      width: 100%;
      text-align: left;
      & .thumbnail-box {
        width: 100%;
        height: auto;
        & img {
          width: 100%;
          height: auto;
        }
      }
      & .category {
        font-size: 0.6rem;
        & a {
          color: gray;
        }
      }
    }
  }
  &__home-btn {
    text-align: center;
    margin-bottom: 5rem;
    margin-top:70px;
    & a {
      color: #2db0c0;
      font-size: 1.5rem;
    }
  }
  &__pagination {
    text-align: center;
    .pagination {
      margin: 40px 0 0;
    }
    .nav-links {
      display: flex;
    }
    .pagination .page-numbers {
      display: inline-block;
      margin-right: 20px;
      padding: 20px 25px;
      color: #333;
      border-radius: 3px;
      box-shadow: 0 3px 3px #999;
      background: #fff;
    }
    .pagination .current {
      padding: 20px 25px;
      background: #69a4db;
      color: #fff;
    }
    .pagination .prev,
    .pagination .next {
      background: transparent;
      box-shadow: none;
      color: #69a4db;
    }
    .pagination .dots {
      background: transparent;
      box-shadow: none;
    }
    .pagination {
      margin: 40px 0 0;
    }
    .nav-links {
      display: flex;
    }
    .pagination .page-numbers {
      display: inline-block;
      margin-right: 20px;
      padding: 15px 20px;
      color: #333;
      border-radius: 3px;
      box-shadow: 0 3px 3px #999;
      background: #fff;
    }
    .pagination .current {
      padding: 15px 20px;
      background: #63829e;
      color: #fff;
    }
    .pagination .prev,
    .pagination .next {
      background: transparent;
      box-shadow: none;
      color: #69a4db;
    }
    .pagination .dots {
      background: transparent;
      box-shadow: none;
    }
  }
}

.categories-lists{
  list-style: none;
  display: flex;
  & .categorie-list{
    margin-left: 2rem;
    & .categorie{
      color: gray;
    }
  }
}
